@{
    ViewData["Title"] = "Home Page";
}

<div class="dashboard-cards">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card horizontal cardIcon waves-effect waves-dark">
                <div class="card-stacked red">
                    <div class="card-content">
                        <h3>84,198</h3>
                    </div>
                    <div class="card-action">
                        <strong>Heading here</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card horizontal cardIcon waves-effect waves-dark">
                <div class="card-stacked orange">
                    <div class="card-content">
                        <h3>36,540</h3>
                    </div>
                    <div class="card-action">
                        <strong>Heading here</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card horizontal cardIcon waves-effect waves-dark">
                <div class="card-stacked blue">
                    <div class="card-content">
                        <h3>24,225</h3>
                    </div>
                    <div class="card-action">
                        <strong>Heading here</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card horizontal cardIcon waves-effect waves-dark">
                <div class="card-stacked green">
                    <div class="card-content">
                        <h3>88,658</h3>
                    </div>
                    <div class="card-action">
                        <strong>Heading here</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-action">
                <b>Main Heading here</b>
            </div>
            <div class="card-image">
                <div class="collection">
                    <a href="#!" class="collection-item"> Sub Heading</a>
                    <a href="#!" class="collection-item">Sub Heading</a>
                    <a href="#!" class="collection-item">Sub Heading</a>
                    <a href="#!" class="collection-item">Sub HeadingAlan</a>
                    <a href="#!" class="collection-item">Sub Heading</a>
                    <a href="#!" class="collection-item">Sub Heading</a>
                </div>
            </div>
        </div>
    </div>
</div>
